# Ignore all files and directories
*

# Unignore gitignore
!.gitignore

# CI Config
!.travis.yml

# Semantic Release, Commitizen and Commitlint
!package.json
!package-lock.json
!.releaserc.json
!commitlint.config.js

# Grub Config
!etc
etc/*
!etc/default
etc/default/*
!etc/default/grub

# Zsh
!home
home/*
!home/helix
home/helix/*
!home/helix/.zshrc

# Xorg
!home/helix/.xinitrc
!home/helix/.xsession

# Update Grub
!bin
bin/*
!bin/update-grub